# ==========================================================
# TumiPay Microservice Template
# Environment Variables Example (.env.example)
# ==========================================================

# ==========================================================
# Server Configuration
# ==========================================================
ENV_MS_SERVER_PORT=9000
ENV_MS_CONTEXT_PATH=/

# ==========================================================
# Logging Configuration
# ==========================================================
ENV_MS_LOG_ROOT=/logs

ENV_MS_LOG_LEVEL=INFO
ENV_MS_LOG_R2DBC_LEVEL=INFO
ENV_MS_LOG_AUTO_CONFIG_LEVEL=INFO
ENV_MS_LOG_FLYWAY_LEVEL=INFO

# ==========================================================
# Database Configuration (R2DBC)
# ==========================================================
ENV_MS_DATABASE_R2DBC_URL=r2dbc:postgresql://192.168.0.06:5432/payments_adapters_db?currentSchema=payment_adapter_cobre_db
ENV_MS_DATABASE_USERNAME=postgres
ENV_MS_DATABASE_PASSWORD=postgres

ENV_MS_DATABASE_POOL_SIZE=10
ENV_MS_DATABASE_POOL_MAX_SIZE=20

# ==========================================================
# Database Configuration (Flyway JDBC)
# ==========================================================
ENV_MS_DATABASE_JDBC_URL=jdbc:postgresql://192.168.0.06:5432/payments_adapters_db?currentSchema=payment_adapter_cobre_db
ENV_MS_FLYWAY_ENABLED=true
ENV_DB_SCHEMA=payment_adapter_cobre_db

# ==========================================================
# Payment Provider Configuration
# ==========================================================
ENV_PAYMENT_PROVIDER_CODE=PAYMENT_PROVIDER_COBRE
ENV_PAYMENT_PROVIDER_NAME=Payment Provider Cobre

# ==========================================================
# WebClient Pool Configuration
# ==========================================================
ENV_MS_HTTP_POOL_MAX_CONNECTIONS=100
ENV_MS_HTTP_POOL_ACQUIRE_TIMEOUT=30s
ENV_MS_HTTP_POOL_MAX_IDLE_TIME=20s
ENV_MS_HTTP_POOL_MAX_LIFE_TIME=5m
ENV_MS_HTTP_POOL_EVICT_IN_BACKGROUND=30s

# ==========================================================
# Common Payment Configuration
# ==========================================================
ENV_PAYMENT_AMOUNT_SCALE=2
ENV_PAYMENT_AMOUNT_ROUNDING_MODE=HALF_UP

# ==========================================================
# Scheduler Configuration
# ==========================================================

# Webhook Dispatcher Scheduler
ENV_SCH_WH_WORKER_INITIAL_DELAY_MS=15000
ENV_SCH_WH_WORKER_FIXED_DELAY_MS=30000

# Webhook Receiver Scheduler
ENV_SCH_WH_RECEIVER_INITIAL_DELAY_MS=5000
ENV_SCH_WH_RECEIVER_FIXED_DELAY_MS=15000

# ==========================================================
# Webhook Dispatcher Configuration
# ==========================================================
ENV_WH_DISPATCHER_ENABLED=true
ENV_WH_DISPATCHER_ID=worker-01
ENV_WH_DISPATCHER_BATCH_SIZE=10
ENV_WH_DISPATCHER_MAX_RETRY_COUNT=5
ENV_WH_DISPATCHER_CONCURRENCY=10
ENV_WH_DISPATCHER_RETRY_BACKOFF_SECONDS=30
ENV_WH_DISPATCHER_TIMEOUT_MINUTES=5
ENV_WH_DISPATCHER_VALIDATING_TIMEOUT_MINUTES=60

# ==========================================================
# Webhook Receiver Configuration
# ==========================================================
ENV_WH_RECEIVER_ENABLED=true
ENV_WH_RECEIVER_BATCH_SIZE=20

# ==========================================================
# Webhook Signature Configuration
# ==========================================================
ENV_WH_SIGNATURE_HEADER_SIGNATURE=event-signature
ENV_WH_SIGNATURE_HEADER_TIMESTAMP=event-timestamp
ENV_WH_SIGNATURE_KEY=TPSIGKEY_B1CC0DF56A


# ==========================================================
# Payment Gateway Configuration
# ==========================================================
ENV_PAYMENT_GATEWAY_BASE_URL=http://192.168.0.06:9500/gateway
ENV_PAYMENT_GATEWAY_API_KEY=
ENV_PAYMENT_GATEWAY_TIME_OUT=9000
ENV_PAYMENT_GATEWAY_WEBHOOK_PATH=/v1/webhook/payment-event
